@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;


/*---------------
      header style---------*/

}
.banner-container{
    display:grid;
    grid-template-columns:repeat(2,1fr) ;
    background: #2D25A0;
    height: 550px;
    
}
.banner-info{
    width: 70%;
    padding-left: 120px;
    padding-top:80px;
}
.banner-info h1{
    color:white;
    font-size: 64px;
    font-weight: 700;
    padding-bottom: 27px;
    line-height: 80px;
    margin-bottom: 20px;
}
.btn{
    background-color: #E02C6D;
    font-size:16px ;
    font-weight: 500;
    text-decoration: none;
    padding: 6px 24px;
    color: white;
    border: none;
}
.arrow{
    margin-left: 5px;
    
}
.banner-img{
    width: 50%;
    padding: 80px 120px 86px 40px;

}
.banner-img img{
    width: 556px;
    height: 438px;
}
.banner-img:hover img{
    transform:scale(1.1);
    transition:transform 3s;
}
/*-----player style----*/

.players-continar{
    display:flex ;
    justify-content: center;
    margin-top: 30px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:30px ;
    grid-row-gap:30px;
    
}
.player{
    width: 330px;
    padding: 15px;
    background: #fff;
    box-shadow:0px 0px 40px rgb(0 0 0 /15%);
    
}
.player img{
    width: 330px;
    height: 256px;   
}
/*----fav them & player search side-----*/

.fav-club-title{
    text-align:center;
}
.fav-club{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
       
}
.logo-club{
    text-align: center;
    
}
.logo-club img{
  width: 40px;
}
.search{
    text-align: center;
}
.src{
    padding: 8px;
    text-align: center;
    width:50%;
}



/*--------footer-------*/

footer{
    text-align: center;
    margin-top: 50px;
}
.logo-area{
      text-align: center;
      

}
.logo-area img {
    width:100%;
    width: 483px;
    height: 110px;
    
}
.fa-instagram.icon,.icon{
    background-color: gainsboro;
    padding:6px;
    border-radius: 50%;
    
}
/*----responsive area----*/

@media only screen and (max-width:688px){
  .banner-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    height:970px;
    
  }
  .banner-info{
      width: 60%;
      padding-left: 16px;
      padding-top: 80px;
      padding-right: 60px;
  }

   .banner-info h1{
       color:white;
       font-size: 64px;
       font-weight: 700;
       line-height: 80px;
       padding-bottom: 25px;
       
   }

  .banner-img{
      width: 40%;
      padding-top: 10px;
      
  }
  .banner-img img{
      width:330px;
      height: 260px;
      
  }
  
  

  .players{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      justify-content:center ;
  }
  .fav-club{
      display:grid;
      grid-template-columns: repeat(2,1fr);
  }
  .logo-area img{
      width: 70%;
  }
    }